body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif,-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background-image: url('../images/ray_underwater.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
}

/* visited link */
a:visited {
  color: blueviolet;
}


.disabled {
  color: red;
  cursor: not-allowed;
}

.white {
  background-color: white;
  color: #ffffff !important;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 130px;
  justify-content: center;
  margin-left: 8px;
  margin-right: 8px;
}

h3 {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  text-align: center !important;
}

.center-text {
    display: flex !important;
    align-items: center !important;
}

.min30 {
  min-width:130px !important;
}

.home_text {
  margin-top: 118px;
}

.header {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: flex;
  flex-shrink: 0;
  height: 64px;
  left: 240px;
  padding-right: 0px;
  right: 0px;
  top: 0px;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1100;
  -webkit-font-smoothing: antialiased;
  align-items:center;
  border-radius: 10px;
  margin-bottom: 32px;
}

.menu-icon {
  cursor: pointer;
  margin-left: 32px;
  margin-top: 32px;
  height: 40px;
}

.nav-sidebar {
  min-width: 250px;
  min-height: 100vh;
  background-color: #000000b8 !important;
  z-index: 10000;
}

/* a {
  color: transparent !important;
} */

.bracket-wrapper {
  display: flex;
}

.blk_line {
  color: black;
  background-color:black;
  min-height: 8px;
  min-width: 36px;
  max-width: 284px;
}

.blk_line.middle {
  align-self:center;
  width: 200px;
  margin-top:2px;
}

.margin-bottom {
  margin-bottom: 36px;
}

.margin-bottom-big {
  margin-bottom: 72px;
}

.margin-left {
  margin-left:32px;
}

.margin-right {
  margin-right: 32px;
}

.blk_line_right {
  border-right-style: solid;
  border-right-width: 8px;
  width: 240px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.team_winner_text {
  height: 20px;
  align-self: center;
}

.team_text:hover {
  background-color:lightgreen;
  width: 212px;
  cursor: pointer;
}

.game-started {
  color: red;
  margin-left: 16px;
  margin-bottom: 0px;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}